/*
Theme Name: Twenty Sixteen
Theme URI: https://wordpress.org/themes/twentysixteen/
Author: the WordPress team
Author URI: https://wordpress.org/
Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.
Version: 1.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
Text Domain: twentysixteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
    font-family: 'proxima-nova-1', 'proxima-nova-2', sans-serif;
    line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima-nova-1', 'proxima-nova-2', sans-serif;
}

nav .current-menu-item a {
    border-bottom: 5px solid #0e68a2;
    color: #ffffff;
}

.logo img {
    max-width: 367px;
}

@media (min-width: 1360px) {
    .uk-container {
        max-width: 1360px;
        padding: 0 35px;
    }
}

.uk-panel-box>.uk-panel-teaser {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

li.product-category.product {
    padding: 5px;
}

li.type-product.product {
    text-align: center;
}

.product-tabs-navigation ul {
    list-style-type: disc;
}

.view-button {
    color: #fff !important;
    background-color: #1591cb !important;
    text-decoration: none;
    cursor: pointer;
}

.single-product .site-main {
    width: 100%;
    display: inline-block;
}

.uk-width-medium-3-4 p {
    /*letter-spacing: 0.1em;
    font-size: larger;*/
}

.news .uk-panel h2 {
    font-size: 25px;
    color: #45494c !important;
}


/*event list start*/

.event-title a {
    margin: 0 0 15px 0;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #45494c;
    text-transform: none;
    font-size: 18px;
}


/*event list end*/


/*booking form design start*/

.em-booking {
    line-height: 1.5em;
    left: 20px;
}

.em-bookings-ticket-table-spaces {
    position: relative;
    left: 20px;
}

.em-booking-form-details input.input, .em-booking-form-details textarea .em-booking-form-details select {
    width: 500px;
    font-size: 13px;
    max-width: 100%;
    padding: 8px 12px;
    border: 1px solid #e2e2e2;
    background: #f6f6f6;
    color: #32363c;
    -webkit-transition: all 0.2s linear;
    -webkit-transition-property: border, background, color, box-shadow, padding;
    transition: all 0.2s linear;
    transition-property: border, background, color, box-shadow, padding;
    display: list-item;
}

.em-booking-form label {
    width: auto;
}

.expire_date select {
    min-width: 114px !important;
    width: 114px !important;
    padding: 5px;
}

.em-booking-form-details .em-booking-submit {
    background-color: #3bc6b2 !important;
    color: #ffffff !important;
    min-height: 40px;
    border: 0px;
    width: 60%;
    font-size: 15px;
}

div.em-booking-login {
    margin-left: 0px;
    border-left: 1px solid black;
    float: right;
    margin-right: 5%;
    padding-left: 100px;
}

.em-booking-form-details label {
    width: 100%;
    float: left;
    position: relative;
    text-align: left;
}

.em-booking-login-form input {
    width: 430px;
    font-size: 13px;
    max-width: 100%;
    padding: 8px 12px;
    border: 1px solid #e2e2e2;
    background: #f6f6f6;
    color: #32363c;
    -webkit-transition: all 0.2s linear;
    -webkit-transition-property: border, background, color, box-shadow, padding;
    transition: all 0.2s linear;
    transition-property: border, background, color, box-shadow, padding;
    display: list-item;
}

#em_rememberme {
    width: auto;
    display: inline;
}

div.em-booking-login label {
    width: auto;
}

#em_wp-submit {
    background-color: #3bc6b2 !important;
    color: #ffffff !important;
    min-height: 40px;
    border: 0px;
    width: 60%;
    font-size: 15px;
}

.em-booking-form-details {
    padding: 10px;
    width: 45%;
    float: left;
}

.em-tickets th {
    font-weight: bold;
}

.dbem_country {
    width: 44%;
    padding: 5px;
    border: 1px solid #d6d6d6;
}

.ticket-desc {
    font-style: italic;
    font-size: 15px;
}
.page-banner img{
    width:100%;
}
.woocommerce form .form-row .input-checkbox {
    position: relative;
}

.courseData img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.uk-grid-width-1-2 > * {
    padding: 25px;
}

.uk-grid-width-1-2 {
    margin-left: 0px;
}
.timeline-TweetList-tweet{
    padding: 25px !important;
}
.uk-block-birds:after {
    display: none;
}
@media (max-width: 767px) {
    .uk-padding-remove {
        padding-left: 25px !important;
    }
    .uk-grid > * {
        text-align: center;
    }
    .twiiter-sidebar {
        height: 300px;
    }
}
@media (min-width: 481px) and (max-width: 767px) { 
    .uk-subnav-pill > * > * {
        padding: 1px 5px;
    }
    .uk-button {
        margin: 5px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .hour .blue {
        min-height: 0px;
        line-height: 20px;
    }
    .uk-button {
        margin: 5px;
    }
}
@media (max-width: 420px) {
    .logo img {
        max-width: 100%;
    }
}

ul.products li.product-category{
    text-align: center;
}